*{
    margin: 0px;

}

body{
    background-color: rgb(182, 182, 182);
}

header{
    background-color: gray;
    padding: 30px;
}

h1{
    text-align: center;
}

h2{
    text-indent: 20px;
    font-size: 25px;
    margin: 10px;
}

input{
    display: block;
    margin-bottom: 10px;

}

main{
    background-color: rgb(255, 236, 235);
    margin: auto;
    width: 800px;
    height: 800px;
    border: black 1px solid;
}